#Navbar {
    background-color: rgb(230, 100, 230);
}

#Navbar  ul {
    margin: 0px;
    padding: 0px;
}

#Navbar  li {
    display: inline-block;
}

#Navbar  li > a {
    display: inline-block;
    padding: 1rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.1);
}

#Navbar  li > a.navbarActive {
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.3);
}
